[Unit]
Description=Start big band dudel web-server

[Service]
Type=forking
ExecStart=/root/dist/run.sh
Restart=always

[Install]
WantedBy=multi-user.target