@import "bootstrap.min.css"

#popup-overlay{
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.7);
	top: 0;
	left: 0;
}

#popup-container{
	background: white;
	border: 1px solid #ddd;
	width: 400px;
	height: 300px;
	margin: 0 auto;
	padding: 30px;
	box-shadow: 0 4px 12px 0 rgba(0,0,0,0.3);
	position: relative;
	top: 50%;
	margin-top: -150px;
}

#popup-close-button:hover {
	opacity: 1;
}
#popup-close-button {
	opacity: 0.5;
	font-size: 20px;
	padding: 2px;
	background: white;
	border: none;
	box-shadow: none;
	outline: none;
	position: absolute;
	top: 4px;
	right: 8px;
}

.status-item {
	text-align: center;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.remove-button{
	opacity: 0.5;
	cursor: pointer;
}

.remove-button:hover{
	opacity: 1;
}

sidebar-width   = 200px
header-height   = 100px
musician-height = 40px
event-width     = 160px
main-width      = 800px
main-height     = 500px
item-padding    = 10px
footer-height   = 40px

#event-table
	// >div
	// >div>div
	// >div>div>div
	// >div>div>div>div
	// 	border: 1px solid #ddd

	#event-table-corner
		position: fixed
		top: 140px
		left: 0
		width: sidebar-width
		height: header-height
		background: white
		z-index: 500
		border-right: 3px solid #ddd;
		border-bottom: 3px solid #ddd;
		border-top: 1px solid #ddd

	#event-table-header
		overflow: hidden;
		width: 100%;
		z-index: 400
		padding-left: sidebar-width
		position: fixed
		left: 0
		top: 140px
		height: header-height
		background: white
		white-space: nowrap
		border-top: 1px solid #ddd
		border-bottom: 3px solid #ddd;

		#event-table-head-wrapper
			position: absolute
			top: 0px
			left: 0
			padding-left: 200px

			.table-event-item
				width: event-width
				display: inline-block;
				white-space: initial;
				height: header-height;
				vertical-align: top;
				overflow:hidden
				border-right: 1px solid #ddd;
				border-bottom: 3px solid #ddd;
				cursor: pointer
				padding: 9px 15px
				font-weight: bold

				.event-title
					height:40px

	#event-table-sidebar
		z-index: 400
		padding-top: header-height
		position: fixed
		left: 0
		top: 140px
		background: white
		width: sidebar-width
		// padding-bottom: 20px
		// box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.3);

		#event-table-side-wrapper
			position: relative
			top: 0
			left: 0
			padding-top: 0px

			.musician-item
				height: musician-height
				overflow: hidden
				border-right: 3px solid #ddd
				border-bottom: 1px solid #ddd
				padding: 9px 15px
				white-space: nowrap
				font-weight: bold



	#event-table-content
		// width: 1200px
		white-space: nowrap;
		padding-top: 240px
		padding-left: 200px
		padding-bottom: footer-height
		position: absolute
		top: 0
		left: 0
		// overflow-x:auto;
		// overflow-y:hidden;

		.status-column
			display: inline-block;
			width: event-width

			.status-item
				height: musician-height
				width: event-width
				overflow:hidden
				border-right: 1px solid #ddd;
				border-bottom: 1px solid #ddd;
				vertical-align: middle;
				text-align: center;
				line-height: musician-height

// #pan-left
// #pan-right
// 	width: 50px;
// 	height: 100%;
// 	position: absolute;
// 	top: 100px;
// 	z-index: 500;
// 	vertical-align: middle
// 	text-align: center
// 	background: white;
// 	display: table-cell;

// #pan-left
// 	left: 202px
// 	border-right: 1px solid rgb(221, 221, 221);

// #pan-right
// 	right: 10px
// 	border-left: 1px solid rgb(221, 221, 221);


.lineup-table

	th,td
		padding: 2px 5px
		white-space: nowrap

	.lineup-instrument-status-item
		display: inline-block
		width: 10px
		height: 10px
		border-radius: 5px
		margin-right: 3px
		border-width: 1px
		border-style: solid

	.lineup-instrument-status-item.alert-success
		border-color: #3c763d

	.lineup-instrument-status-item.alert-warning
		border-color: #8a6d3b;

	.lineup-instrument-name
		text-align: right;

html,body,#app, #layout
	width: 100%
	height: 100%

#layout
	padding-top: 140px
	padding-bottom: 40px
	position: relative

header
	width: 100%;
	position: fixed
	top: 0
	left: 0
	padding: 15px
	background: white
	z-index: 500
	height: 140px

footer
	width: 100%;
	position: fixed
	bottom: 0
	left: 0
	height: footer-height
	padding-top: 10px
	background: white
	z-index: 600
	border-top: 1px solid #ddd

.musician-item
	white-space: nowrap
